<div id="intro" class="section">
  <div class="section-mask">
    <%= form_for @wedding_invite, url: '/switch-language/' + String(@wedding_invite[:link_code]) do |f| %>
      <button id="language-toggle">
        <% if @wedding_invite.language_code == "en" %>
          中文
        <% else %>
          English
        <% end %>
      </button>
    <% end %>
  	<h1 id="couple-name">
      <% if @wedding_invite.language_code == "en" %>
        Yining + Yaoli
      <% else %>
        以宁＋瑶莉
      <% end %>
    </h1>
  	<h1 id="intro-header">
      <% if @wedding_invite.language_code == "en" %>
        We're getting married
      <% else %>
      <% end %>
    </h1>
  	<h3 id="sub-intro-header">
      <% if @wedding_invite.language_code == "en" %>
        July 23, 2016 / Lover's Point / Pacific Grove
      <% else %>
      <% end %>
    </h3>
    <% if @wedding_invite %>
      <div id="rsvp">
        <button id="rsvp-button">
          <% if @wedding_invite.language_code == "en" %>
            RSVP
          <% else %>
          <% end %>
        </button>
      </div>
    <% end %>
  </div>
</div>

<div id="story" class="section">
	<h1 id="story-header">
    <% if @wedding_invite.language_code == "en" %>
      Our story
    <% else %>
    <% end %>
  </h1>
	<h2 id="sub-story-header">
    <% if @wedding_invite.language_code == "en" %>
      Love at first sight
    <% else %>
    <% end %>
  </h2>
  <% if @wedding_invite.language_code == "en" %>
    <p>
  Yining met Yaoli online in June of 2015. At the time, he was in California working at a tech company called YouTube, and she was in Shanghai working for an American health and research company called IMS. After three months of communicating via email, Yining flew across the ocean to finally meet Yaoli in person. They couldn't believe that the person they met in real life was even more amazing than they could have imagined. Even before saying goodbye after their first dinner together, Yining knew she was the one. The distance in time and space couldn't keep them apart after this as Yining would fly to Shanghai every month on the weekends or holidays to be with Yaoli. Though sometimes the flight alone was almost as long as their time together, they cherished any opportunity to be in each other's arms. They became each other's best friends and true lovers.
  Less than half a year since they met in Shanghai, Yining asked Yaoli to fly to California to be with him and become partners in life. Forever.
    </p>
    <p>We're ready to make it official now!</p>
  <% else %>
  <% end %>
</div>

<div id="date" class="section">
  <div class="section-mask">
  	<h3 id="date-header">
      <% if @wedding_invite.language_code == "en" %>
        Save the date
      <% else %>
      <% end %>
    </h3>
  	<h1 id="sub-date-header">
      <% if @wedding_invite.language_code == "en" %>
        July 23, 2016
      <% else %>
      <% end %>
    </h1>
  </div>
</div>

<div id="wedding-detail" class="section">
  <div id="wedding-detail-content">
    <div id="wedding-detail-summary">
      <h1>
        <% if @wedding_invite.language_code == "en" %>
          Wedding Details
        <% else %>
        <% end %>
      </h1>
      <p>
        <% if @wedding_invite.language_code == "en" %>
          We'll have a casual ceremony with refreshments and snacks at Lover's Point in Pacific Grove where Yining grew up followed by a lunch reception at the Beach House right next door!
        <% else %>
        <% end %>
      </p>
    </div>
    <div id="wedding-detail-ceremony">
      <h2>
        <% if @wedding_invite.language_code == "en" %>
          Ceremony
        <% else %>
        <% end %>
      </h2>
      <% if @wedding_invite.language_code == "en" %>
        <p>10:30AM - 12:00AM</p>
        <a target="_blank" href="https://www.google.com/maps/place/Lovers+Point+Park/@36.6264254,-121.9187432,17z/data=!3m1!4b1!4m2!3m1!1s0x808de145db4dcb25:0x48028ef2b9b860bb">
          <p>Lover's Point Park</p>
          <p>Pacific Grove,CA</p>
        </a>
      <% else %>
      <% end %>
    </div>
    <div id="wedding-detail-reception">
      <% if @wedding_invite.language_code == "en" %>
        <h2>Reception</h2>
        <p>12:00AM - 2:30PM</p>
        <p>Beach House at Lover's Point</p>
        <p>620 Ocean View Boulevard, Pacific Grove, California</p>
      <% else %>
      <% end %>
    </div>
  </div>
</div>

<div id="photos" class="section">
  <div class="section-mask">
    <div id="photos-content">
      <h1>
        <% if @wedding_invite.language_code == "en" %>
          Photos
        <% else %>
        <% end %>
      </h1>
      <p id="photos-message">
        <% if @wedding_invite.language_code == "en" %>
          Thanks for Mom and Dad for helping to setup our wedding and taking beautiful photos for us!
        <% else %>
        <% end %>
      </p>
      <div class="photo-grid-container">
        <ul class="photo-grid">
          <% @image_gallery.each do |image_info| %>
            <li>
              <a href="/assets/wedding_photos/<%= image_info[:src] %>" class="photo-square <%= image_info[:dimensions_css] %>">
                <div class="photo-square-centering">
                  <img src="/assets/wedding_photos/<%= image_info[:src] %>" alt="Wedding Photo">
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <footer>
        © 2016 A website by Yaoli and Yining. Design inspired by <a target="_blank" href="https://www.squarespace.com/websites/templates/naomi">Squarespace</a>.
      </footer>
    </div>
  </div>
</div>

<% if @wedding_invite %>
  <div id="rsvp-modal">
    <div id ="rsvp-form-mask"></div>
    <div id="rsvp-form">
      <%= form_for @wedding_invite, url: '/save/' + String(@wedding_invite[:link_code]) do |f| %>
        <fieldset>
          <legend>RSVP</legend>
          <div class="input-section">
            <h2 class="input-section-title">
              <% if @wedding_invite.language_code == "en" %>
                Hey <%= @wedding_invite[:primary_invitee_name] %>! Will you be joining us for our big day?
              <% else %>
              <% end %>
            </h2>
            <label>
              <%= f.radio_button(:is_coming, "true") %>
              <% if @wedding_invite.language_code == "en" %>
                Yes!
              <% else %>
              <% end %>
            </label>
            <label>
              <%= f.radio_button(:is_coming, "false") %>
              <% if @wedding_invite.language_code == "en" %>
                No
              <% else %>
              <% end %>
            </label>
          </div>
          <div id="attendance-info" class="<%= attendance_info_visibility_css(@wedding_invite[:is_coming]) %>">
            <div class="input-section">
              <h2 class="input-section-title">
                <% if @wedding_invite.language_code == "en" %>
                  Please choose a meal preference
                <% else %>
                <% end %>
              </h2>
              <label>
                <%= f.radio_button(:primary_invitee_meal, "beef") %>
                <% if @wedding_invite.language_code == "en" %>
                  Beef Stroganoff
                <% else %>
                <% end %>
              </label>
              <label>
                <%= f.radio_button(:primary_invitee_meal, "fish") %>
                <% if @wedding_invite.language_code == "en" %>
                  Grilled Salmon Filet
                <% else %>
                <% end %>
              </label>
              <label>
                <%= f.radio_button(:primary_invitee_meal, "vegetarian") %>
                <% if @wedding_invite.language_code == "en" %>
                  Vegetarian
                <% else %>
                <% end %>
              </label>
            </div>
            <div id="extra-guests">
              <%= render partial: "guest_invite", locals: {f: f, guest_num: 1, guest_name: @wedding_invite["guest_1_name"]}%>
              <%= render partial: "guest_invite", locals: {f: f, guest_num: 2, guest_name: @wedding_invite["guest_2_name"]}%>
              <%= render partial: "guest_invite", locals: {f: f, guest_num: 3, guest_name: @wedding_invite["guest_3_name"]}%>
              <%= render partial: "guest_invite", locals: {f: f, guest_num: 4, guest_name: @wedding_invite["guest_4_name"]}%>
            </div>        
            <button id="add-extra-guest" class="std-button">
              <% if @wedding_invite.language_code == "en" %>
                (+) I'd like to add an extra guest
              <% else %>
              <% end %>
            </button>
          </div>
         
          <label class="input-section">
            <span class="input-section-title">
              <% if @wedding_invite.language_code == "en" %>
                Anything else you'd like us to know about?
              <% else %>
              <% end %>
            </span>
            <%= f.text_area :extra_comments, :id => "extra-comments", :class => "text-box"%>
          </label>
          <div id="submit-container">
            <button id="submit">
              <% if @wedding_invite.language_code == "en" %>
                Submit
              <% else %>
              <% end %>
            </button>
          </div>
        </fieldset>
      <% end %>
      <button id="close-rsvp" class="std-button">&times;</button> 
      <div id="form-submission-message">
        <p class="coming-to-wedding">
          <% if @wedding_invite.language_code == "en" %>
            Thanks! See you at the wedding!
          <% else %>
          <% end %>
        </p>
        <p class="not-coming">
          <% if @wedding_invite.language_code == "en" %>
            Sorry you won't be joining us. See you next time.
          <% else %>
          <% end %>
        </p>
        <p class="submission-error">
          <% if @wedding_invite.language_code == "en" %>
            An error occured, please try again.
          <% else %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div id="photo-modal-gallery">
  <button id="previous-image" class="std-button">&lt; </button>
  <button id="next-image" class="std-button">&gt;</button>
  <button id="close-modal" class="std-button">&times;</button>  
  <img src="" alt="...">
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>